concurrent = 10
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "runner"
  url = "http://{{ gitlab-ci-ip }}/"
  token = "AvjQto32_ew2xYewb4Z4"
  executor = "docker+machine"
  limit = 10
  [runners.custom_build_dir]
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
      CredentialsFile = "/home/appuser/gce-credentials.json"
  [runners.machine]
    IdleCount = 2
    IdleTime = 60
    MachineDriver = "google"
    MachineName = "%s"
    MachineOptions = [
        "google-project=docker-240004",
        "google-machine-type=g1-small",
        "google-preemptible=true",
        "google-zone=europe-west1-b"
    ]
    OffPeakTimezone = ""
    OffPeakIdleCount = 0
    OffPeakIdleTime = 0
