[Unit]
Description=GitLab Runner
After=syslog.target network.target
ConditionFileIsExecutable=/usr/local/bin/gitlab-runner

[Service]
StartLimitInterval=5
StartLimitBurst=10
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/appuser/gce-credentials.json
ExecStart=/usr/local/bin/gitlab-runner "run" "--working-directory" "/home/appuser" "--config" "/etc/gitlab-runner/config.toml" "--service" "gitlab-runner" "--syslog" "--user" "appuser"





Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
